In [9]:
# Import dependencies.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [114]:
# Import the WeatherPy_vacation.csv file from Part 1 as a new DataFrame.
cities_vacation_df = pd.read_csv("data/WeatherPy_challenge.csv")
cities_vacation_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
0,0,Qaqortoq,GL,2020-02-23 20:23:18,60.72,-46.03,24.8,53,100,9.17,light snow,0.0,0.94
1,1,Cape Town,ZA,2020-02-23 20:20:11,-33.93,18.42,68.0,56,0,20.80,clear sky,0.0,0.00
2,2,Tasiilaq,GL,2020-02-23 20:20:12,65.61,-37.64,12.2,66,60,17.22,broken clouds,0.0,0.00
3,3,Yellowknife,CA,2020-02-23 20:20:12,62.46,-114.35,-4.0,63,20,6.93,few clouds,0.0,0.00
4,4,Samana,DO,2020-02-23 20:20:12,19.21,-69.34,75.2,94,75,4.70,light rain,0.0,0.00

In [18]:
#Prompt the customer for the minimum  and maximum temperature preference, rain and snow.
print("What is your minimum temperature preference?")
min_temp = float(input("min_temp: "))

print("What is your maximum temperature preference?")
max_temp = float(input("max_temp: "))

rain_option = input("Do you want it to be raining? (yes/no) ")

snow_option = input("Do you want it to be snowing? (yes/no) ")

What is your minimum temperature preference?
min_temp: 50
What is your maximum temperature preference?
max_temp: 90
Do you want it to be raining? (yes/no) yes
Do you want it to be snowing? (yes/no) no

In [23]:
preffered_cities_df_1ghada = cities_vacation_df.loc[(cities_vacation_df["Max Temp"] > min_temp) & (cities_vacation_df["Max Temp"] < max_temp)]

if rain_option == "yes":
    preffered_cities_df_2ghada = preffered_cities_df_1ghada.loc[(preffered_cities_df_1ghada["Rain inches (last 3hrs)"] > 0) ]
    
else:
    preffered_cities_df_2ghada = preffered_cities_df_1ghada.loc[(preffered_cities_df_1ghada["Rain inches (last 3hrs)"] == 0) ]
    
if snow_option == "yes":
    preffered_cities_df = preffered_cities_df_2ghada.loc[(preffered_cities_df_2ghada["Snow inches (last 3hrs)"] > 0)]

else:
    preffered_cities_df = preffered_cities_df_2ghada.loc[(preffered_cities_df_2ghada["Snow inches (last 3hrs)"] == 0)] 
    
preffered_cities_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches (last 3hrs),Snow inches (last 3hrs)
44,44,Sinnamary,GF,2020-02-23 20:20:21,5.38,-52.95,78.96,81,87,15.17,light rain,0.13,0.0
50,50,Sampit,ID,2020-02-23 20:23:32,-2.53,112.95,75.33,95,13,1.97,light rain,0.50,0.0
53,53,Malacacheta,BR,2020-02-23 20:23:33,-17.84,-42.08,72.12,95,100,6.35,moderate rain,5.81,0.0
70,70,Butaritari,KI,2020-02-23 20:23:36,3.07,172.79,84.88,77,76,12.91,moderate rain,6.00,0.0
88,88,Piet Retief,ZA,2020-02-23 20:23:41,-27.01,30.81,52.56,96,99,5.61,light rain,0.13,0.0

In [69]:
weather_vacation_df = preffered_cities_df[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()
weather_vacation_df.head()

           City Country  Max Temp Current Description    Lat     Lng
44    Sinnamary      GF     78.96          light rain   5.38  -52.95
50       Sampit      ID     75.33          light rain  -2.53  112.95
53  Malacacheta      BR     72.12       moderate rain -17.84  -42.08
70   Butaritari      KI     84.88       moderate rain   3.07  172.79
88  Piet Retief      ZA     52.56          light rain -27.01   30.81

In [70]:
weather_vacation_df["Hotel Name"] = ""
weather_vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
44,Sinnamary,GF,78.96,light rain,5.38,-52.95,
50,Sampit,ID,75.33,light rain,-2.53,112.95,
53,Malacacheta,BR,72.12,moderate rain,-17.84,-42.08,
70,Butaritari,KI,84.88,moderate rain,3.07,172.79,
88,Piet Retief,ZA,52.56,light rain,-27.01,30.81,

In [109]:
#Import requests
import requests


from config import g_key

In [103]:
# Search for hotels and add them in the weather dataframe.
for i, row in preffered_cities_df[51:54].iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    location = f"{lat},{lng}"
   
    params = {"radius" : 5000,
         "key": g_key,
         "type": "lodging",
        "location": f"{lat},{lng}"}
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
#     print(hotels)
    try:
        weather_vacation_df.loc[i,"Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found....skipping.")

In [110]:
weather_vacation_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
44,Sinnamary,GF,78.96,light rain,5.38,-52.95,ALETHEIA Appartement Sinnamary
50,Sampit,ID,75.33,light rain,-2.53,112.95,Aquarius Boutique Hotel Sampit
53,Malacacheta,BR,72.12,moderate rain,-17.84,-42.08,Pousada Varanda do Sol
70,Butaritari,KI,84.88,moderate rain,3.07,172.79,Isles Sunset Lodge
88,Piet Retief,ZA,52.56,light rain,-27.01,30.81,Arabian Nite Guest House
103,Pithora,IN,67.73,light rain,21.27,82.52,"Government Scheduled Caste Boys Hostel, Pithora"
126,Nacala,MZ,76.60,light rain,-14.54,40.67,Nacala Plaza Business Design Hotel
147,Menongue,AO,63.45,moderate rain,-14.66,17.69,Ritz Lauca
158,Nabire,ID,72.88,heavy intensity rain,-3.37,135.48,Hotel Nusantara Nabire
161,Oussouye,SN,80.60,light rain,12.48,-16.55,Auberge du Routard

In [115]:
weather_vacation_df.to_csv("data/WeatherPy_vacation.csv", index_label="City ID")

In [112]:
import gmaps
#Adding markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in weather_vacation_df.iterrows()]

#Create the heatmap of temperature for the vacation spots and marker for each city.
locations = weather_vacation_df[["Lat","Lng"]]
# max_temp = weather_vacation_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [113]:
import gmaps
#Adding markers.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in weather_vacation_df.iterrows()]

#Create the heatmap of temperature for the vacation spots and marker for each city.
locations = weather_vacation_df[["Lat","Lng"]]
# max_temp = weather_vacation_df["Max Temp"]
fig=gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer=gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))